// To allow for vertical centering
html {
  height: 100%;
}

// Home page styling
.home_head-text {
  letter-spacing: -0.01em;
  margin: 5rem 0;
}
.home_subhead-text {
  letter-spacing: -0.01em;
}

// Header styling
.header_navbar-brand.header_navbar-brand {
  color: $gray-700;
  font-weight: bold;

  &.header_navbar-brand_auth {
    border-right: 1px solid $gray-200;
    margin-left: -7.5rem;
    width: 7.5rem;
  }

  svg {
    fill: $gray-500;
    padding: 0 0.25rem;
  }
}
.header_nav-item {
  border-bottom: 5px solid $light;

  &:hover {
    background-color: $light-cyan;
    border-bottom-color: $primary;
  }
  .header_nav-link.header_nav-link {
    color: $gray-800;
  }
}
.header_nav-item_active {
  border-bottom-color: $primary;
  transition: background-color 0.25s;
}
.header_account-link {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Todos list styling
// Floating label for new todo input
.todos_input {
  > label {
    opacity: .50;
  }
}

// Account
.account_icon {
  fill: $gray-500;

  &:hover {
    fill: $primary;
  }
}
.account_dropdown-menu.account_dropdown-menu {
  margin-top: 0.5rem;
}
.alert_icon {
  fill: $red-800;
}

.login_form {
  .btn {
    padding: 0.75rem 1.25rem;
  }
}
.login_key-icon {
  fill: $gray-400;
}
.login_reload-btn {
  display: inline;
  font-size: inherit;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
}

// Todo styling
.todo_item {
  transition: background-color 0.4s;
}
.todo_label {
  cursor: pointer;
}
.todo_icon_complete,
.todo_icon_incomplete {
  transition: fill 0.4s;
}
.todo_icon_complete {
  fill: $gray-400;
}
.todo_icon_incomplete {
  fill: $gray-600;
}
.todo_label_complete {
  color: $gray-600;
  font-style: italic;
  text-decoration: line-through;
  text-decoration-color: rgba($color: #000000, $alpha: 0.25);
}
.todo_label_incomplete:hover > .todo_icon_incomplete {
  fill: $teal;
}
.todo_dropdown_actions {
  fill: $gray-600;
}
.todo_dropdown_actions:hover {
  fill: $gray-800;
}
